@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --onSurface: #242323;
  --primary: #521c3c;
  --onPrimary:#ebdddc;
  --surface: #fff3fa;
  --secondary: #a28291;
  --accent: #957c3d;
}

body {
  @apply bg-surface text-onSurface;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
